.index-grid {
    display: grid;
    grid-template-columns: repeat(2, 70% 30%);
}

.ig-title {
    line-height: 45px;
        color: #034457;
        padding: 0 0px 0 15px;
    vertical-align:middle;
}

.ig-open {
    background-color: #007898;
    text-align: center;
    color: whitesmoke;
    padding: 0 15px;
    cursor: pointer;
    line-height: 45px;
}