/* FUENTES */

@font-face {
    font-family: Arnhem;
    src: url(Arnhem\ Bold.otf);
}

@font-face {
    font-family: ArnhemItalic;
    src: url(Arnhem\ BoldItalic.otf);
}

@font-face {
    font-family: ArnhemFin;
    src: url(Arnhem\ Blond.otf);
}

@font-face {
    font-family: Borneo;
    src: url(borneo-bold.otf);
}

@font-face {
    font-family: Lato;
    src: url(Lato-Bold.ttf);
}


/* MOBILE */

@media screen and (min-device-width: 0px) and (max-device-width: 868px) {

    /* HEADER */

    #header {
        background-color: whitesmoke;
        width: 100%;
        line-height: 45px;
        margin: 0 auto;
        top: 0;
        position: fixed;
        z-index: 100; 
    }

    .box1-2 {
        color: white;
        width: 100%;
        font-family: Borneo;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .box2-3 {
        display: flex;
        flex-direction: row;
    }

    .box1 {
        padding: 0 20px;
    }

    .box1 img {
        width: 30px;
        vertical-align:middle;
    }

    .box2 {
        padding: 0 20px;
        width: 45px;
        border-left: 3px solid #ececec;
    }

    .box2 {
        vertical-align:middle;
        line-height: 45px;
        text-align: center;
        display: flex;
        color: #007898;
        justify-content: center;
    }

    .box3 {
        padding: 0 20px;
        background-color: #007898;
        color: black;
        line-height: 45px;
        width: 100%;
        color: whitesmoke;
        letter-spacing: -.3px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    .header-text {
        background-color:#007898;
        width: 100%;
        color: whitesmoke;
        font-size: 10px;
        padding: 5px 0;
        margin-top: 45px;
        position: fixed;
        justify-content: center;
        text-align: center;
        font-family: 'Helvetica';
        font-weight: bold;
        -webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.15); 
        box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.15); 
        z-index: 100; 
        top: 0;
    }

    .scroll-text {
        vertical-align:middle;
    }

   
    .options2-container a,
    .options4-container a,
    .options1-container a {
        color: rgb(177, 177, 177);
    }

    .options3-container a {
        color: #007898;
    }

    /* --------------- START BODY -------------- */ 

    .grid {
        width: 100%;
        display: block;
        opacity: 1;
        transition: .5s cubic-bezier(.68,0,.33,.99);
    }

    .container {
        width: 90%;
        margin: 0 auto;
        margin-top: 90px;
    }

    .update-container {
        padding-left: 5%;
        padding-top: 15px;
        text-align: left;
        font-family: Helvetica;
        font-size: 9px;
    }

    /* .update {
        color: rgb(165, 165, 165);
        font-family: 'Helvetica';
    }
    
    .update span {
        color: rgb(206, 206, 206);
    } */

    /* ARGUMENTS CONTENT */

    .arguments-content {
        width: 90%;
        margin: 110px auto 15px auto;
    }

    .arguments-intro .ai-pretext,
    .name-article .na-pretext,
    .na-pretext {
        font-size: 15px;
        color: rgb(144, 144, 144);
        margin-bottom: 5px;
        font-family: Borneo;
    }

    .arguments-intro .ai-title {
        font-size: 37px;
        font-family: Arnhem;
        color: #034457;
        line-height: 95%;
        text-align: left;
        letter-spacing: -1px;
    }

    .arguments-intro .ai-subtext {
        font-size: 18px;
        font-family: ArnhemFin;
        padding: 10px 0 0px 0;
        line-height: 1.3;
    }

    /* MANTENIMIENTO */

    .mantenimiento {
        display: none;
    }

    /* PODCAST */

    .podcast-container {
        width: 90%;
        margin: 20px auto;
        height: auto;
    }
    
    .podcast-content .p-c-title {
        font-family: Lato;
        margin-top: 5px;
        font-size: 18px;
        text-transform: uppercase;
    }

    .podcast-content .p-c-subtitle {
        font-family: Lato;
        font-size: 15px;
        margin-bottom: 7px;
        color: #8b8b8b;
    }

    .podcast-container .podcast-content .p-d-portada {
        width: 100%;
        border-radius: 10px;
    }

    .p-c-text-content {
        display: grid;
        grid-template-columns: repeat(2, 14% 80%);
    }

    .p-c-text-container .p-c-img {
        margin-top: 9px;
        width: 15px;
    }

    .audio-content audio{
        width: 100%;
        border-radius: 10px;
        height: auto;
        background-color: #007898 !important;
    }

    /* FOOTER */

    #footer {
        width: 100%;
        margin: 0 auto;
        background-color: white;
        height: auto;
        padding: 15px 0 20px 0;
        -webkit-box-shadow: 0px -4px 12px 4px rgba(0, 0, 0, 0.109); 
        box-shadow: 0px -4px 12px 4px rgba(0, 0, 0, 0.109); 
        display: flex;
        border-top: 10px #007898 solid;

        flex-direction: column;
        text-align: center;
    }

    .footer-a {
        display: flex;
        flex-direction: column;
    }

    .footer-a > a,
    .footer-twitter,
    .footer-cr {
        font-family: Borneo;
        font-size: 12px;
        text-decoration: none;
        color: rgb(153, 153, 153);
    }

    .footer-a,
    .footer-twitter {
        border-bottom: 1px solid rgb(238, 238, 238);
    }

    .footer-a > a {
        padding: 10px 0;
        text-transform: uppercase;
    }

    .footer-a {
        padding-bottom: 10px;
    }

    .footer-twitter {
        padding: 20px 0 17px 0;
        text-transform: uppercase;
    }

    .footer-cr {
        border: none;
        padding: 20px 0 0 0;
    }

    /* MEDIA QUERY */

    .mantenimiento {
        display: none;
    }

    /* ---------------- END BODY -------------- */ 

}

@media screen and (min-device-width: 868px) {

    .mantenimiento{
        width:600px;
        height:auto;
        padding:32px;
        border:1px solid #000;
        border-radius:10px;
        margin-top:-200px;
        margin-left:-300px;
        background-color:#fff;
        position:fixed;
        top:50%;
        text-align: center;
        left:50%;
    }
    .mantenimiento h1, .mantenimiento h2, .mantenimiento p{
        font-family:"noto sans", sans-serif;
    }

    .mantenimiento h1{
        font-size:3em;
        text-align:center;
        padding: 0 0 0 16px;
    }
    .mantenimiento h2{
        font-size:2em;
        font-style:italic;
    }
    .mantenimiento p{
        margin:16px 0;
        line-height:1.5em;
    }

    #header {
        display: none;
    }

    .header-text {
        display: none;
    }

    .grid {
        display: none;
    }

    #footer {
        display: none;
    }
}